<template>
  <div class="character">
    <h1>Character menu</h1>
    <p>Here you'll find all the information about your character. that being said: Equpment, skills, gold on hand and your winning conditions.</p>
  </div>
</template>

<style scoped>
.character{
  margin: auto 3em;
}
</style>