<template>
  <div class="home">
    <HelloWorld header="Witaj w aplikacji Vueśniacy!"/>
    <button @click="printMakers" class="meetUs">Get to know the makers!</button>
    <p class="makers"></p>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data() {
    return { 
      project_information : {
        makers: ['Łukasz Formela','Michał Stachowski','Mariusz Waldowski'],
        startDateOfProject: '03.02.2019' 
      }
    }
  },
  methods:{
    printMakers: function(){
      var el = document.querySelector('.makers');
      el.innerHTML = `People responsible for making this game: `;
      this.project_information.makers.forEach(maker => {
        return el.innerHTML = el.innerHTML + ', '+ maker + ' ';
      });
      el.innerHTML = el.innerHTML+'.'
    }
  }
}
</script>

<style scoped>
HelloWorld{
  margin:1em;
}
.meetUs{
  position: fixed;
  bottom: 1em;
  right: 1em;
}
.makers{
  text-align: center;
  background: #ccc;
  color: rgb(30,50,40);
  padding: 1em;
}
.makers:hover{
  color: rgb(60,100,80);
}
</style>