<template>
  <div class="rules">
    <h1>Strona z zasadami gry.</h1>
    <p>Tutaj dowiesz się wszystkiego o rozgrywce i tego w jaki sposób możesz próbować wygrać.</p>
    <div class="skills">
      <h2>Umiejętności: </h2>
      <p>Miejscowy głupek - gracz zyskuje możliwość pomagania w misji, ale musi rzucać kością. Jeśli wyrzuci 5/6 to może pomóc, 2/3/4 to brak pomocy a 1 ( i tylko 1) to przeszkodzenie w misji - dostaje negatywny modyfikator do sprytu. [odblokowane na poziomie 1 sprytu]</p>
      <p>Obrońca (?) - wieśniak który przebył szkolenie w piechocie, ma dodatkowo możliwość pomocy podczas napadu najemników. Jeśli jest w drużynie nie można układać się ze słabymi najemnikami. [odblokowany na poziomie 4 siłyi  3 szybkości]</p>
      <p>Alchemik - osoba opowiedzialna za parzenie mikstur, może je zrobić płacąc złotem i leczyć innych (sposób na handel - sprzedaż potionów innym graczom za większą kwotę niż ta potrzebna do stworzenia mikstury) [odblokowany na poziomie 6 sprytu]</p>
      <p>Kowal / stolarz - może w mieście zarobić pieniądze zamiast kupna przedmiotów. ALTERNATYWA: mogą naprawić wóz (mają na to 3 tury od jego zepsucia)</p>
      <p>Miejscowy złodziejaszek - Wieśniak który ma za zadanie włożenia jak najmniej złota do wozu, dostaje + do złota dla grupy ale przez to oddala się od wygranej. [z wyboru]</p>
      <p>Handlarz - Obniża koszty kupienia towarów, Koni, ekwipunku oraz zmniejsza podatek za sprzedaż.</p>
    </div>
    <div class="events">
      <h2>Wydarzenia: </h2>
      <p>bandyci</p>
      <p>miasto</p>
      <p>zepsuty wóz</p>
      <p>brak wydarzenia</p>
      <p>obóz najemników</p>
      <p>miastowe potrzeby</p>
      <p>rzuty kością pierwszego gracza</p>
    </div>
    <div class="items">

    </div>
    <div class="objectives">
      <h2>Cele: </h2>
      <p>W zależności od ilości graczy cel gry się zmienia. Przy 1-2 cel to dowizienie 6 towarów z 10. Przy 3-4 cel to dowiezienie 10 z 10 towarów a przy większej ilości za każdego gracza należy dowieźć po dwa towary więcej.</p>
      <p>Każdy gracz ma 3 punkty życia które w zależności od sposobu w jaki je utracił może je odzyskać lub nie (strata przez puapkę/ głód/ obrażenia - uleczalne, strata przez magię/ utratę kończyny - nieuleczalne).</p>
      <p>Po drodze pojawiają się zdarzenia losowe, w zależności do specjalizacji zdarzenia grupa może obsadzić osobę na dany quest.</p>
      <p>Grupa może wybrać osobę która jest świetna w szybkości, ale jeśli są podejrzenia że miałaby ta osoba działać na przeciw grupie, to można obsadzić kogoś znacznie gorszego, kto da mniejszą nagrodę, ale za to będzie uczciwy i wrzuci ją 'na wóz'.</p>
      <p>Podczas misji nikt poza 'miejscowym głupkiem' nie może pomagać.</p>
      <p>Miejscowy głupek to rodzaj jokera, lecz nie pojawia się on w rozgrywce wtedy gdy jest potrzebny, lecz wtedy gdy akurat czuje że jest dobry moment (może przeszkadzać).</p>
    </div>
  </div>
</template>

<style scoped>
.rules{
  margin: auto 3em;
}
</style>