<template>
  <div class="hello">
    <h1>{{ header }}</h1>
      <p>Gra pod tytułem wieśniaki gdzie każdy na początku ma do wyboru trzy cechy. Są to <span class="importance">spryt, siła i szybkość</span>.</p>
      <p>Celem gry jest dowiezienie wozu z surowcami które potem wieśniacy sprzedają na targu.</p>
      <p>Wieśniacy po wykonaniu misji indywidualnych mogą włożyć pieniądze do swojej własnej sakiewki albo do sakiewki wspólnej.</p>
      <p>Mapa generowana jest automatycznie i jest niewidoczna dla wieśniaków. Jedna osoba która ją widzi to <span class="importance">mistrz gry.</span></p>
      <p>Rzeczy potrzebne do postawienia gry to serwer mała aplikacja na telefon aby wieśniacy widzieli jaki jest status sakiewki wspólnej ich własnej ja by mogli akceptować misję od mistrza gry i widzieć ich wynik.</p> 
      <p>Podczas rozgrywki dostępne będą dwie drogi łatwiejsze I trudniejsza wieśniacy będą mogli od czasu do czasu w jakiś sposób uzyskać informację o tym którą drogą będą szli.</p>
      <p>Można to zrobić na zasadzie umiejętności albo przekupstwa mistrza gry (trzeba dopracować).</p>
      <p>Każdy trudniejszy kafelek będzie zawierał w coś w rodzaju prawdy czy wyzwania.</p>
      <p>Podczas każdego takiego wyzwania ważne będą statystyki które posiada dany gracz. Tj. jeśli ktoś na przykład posiada 500 odpowiada na pytanie z tej kategorii ma ułatwioną wersję zadania jak i również dostaję trochę lepszą nagrody na zakończenie misji. </p>
      <p>Docelowo świetnie by było gdyby świat był budowany z tego co wprowadzają gracze po pierwszych misjach na przykład: pierwsza misje na spryt prosi gracza o podanie czterech zmyślonych nazw zwierząt te zwierzęta miały by pojawić się w późniejszej fazie gry.</p>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    header: String
  },
  data() {
    return { 
      Maker: 'Łukasz Formela',
      Helpers: ['Michał Stachowski','Mariusz Waldowski'],
      startDateOfProject: '03.02.2019' 
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.hello{
  margin: auto 3em;
}
.importance{
  color: darkgreen;
  font-weight: bold;
}
</style>
