<template>
  <div id="app">
    <div id="nav">
      <img class="logo" alt="logo" src="https://trello-logos.s3.amazonaws.com/4e1f13319242646c6dc99ccd12983f59/170.png" height="50px" align="bottom">
      <router-link to="/">Strona główna</router-link>
      <router-link to="/rules">Zasady</router-link>
      <router-link to="/character">Postać</router-link>
      <router-link to="/login">Logowanie</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  data() {
    return { 
      Project_information : {
        Maker: 'Łukasz Formela',
        Helpers: ['Michał Stachowski','Mariusz Waldowski'],
        startDateOfProject: '03.02.2019' 
      },
      game_data: {
        players: [
          {
            name: 'Łukasz',
            gold: 20,
            character: 'Vueśniak',
            items:{
              hands: [
                {item_name: 'maczuga', obrażenia: 5},
                {item_name: 'maczuga', obrażenia: 5}
              ],
              armor: {item_name:'koszula'},
              boots:{item_name:'szmaciaki'},
              helmet:{item_name:'czapa'},
              bag: {item_name:'brak'}
            }
          },
          {
          }
        ]
      }
    }
  },
  methods:{
    addPlayer: function(name, gold, character){
      this.name=name;
      this.gold = gold;
      this.character = character;

    }
  }
}
</script>

<style>
.logo{
  display: inline-block;
}
body,html{
  margin:0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#nav{
  margin: 0 0 2em;
  background: rgba(51, 51, 51,.2);
  display:flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(51, 51, 51,.2);
}
#nav a{
  padding: 1em;
  transition: background-color 0.3s ease;
  border-right: 1px rgba(51, 51, 51,.2) solid;
  border-left: 1px rgba(51, 51, 51,.2) solid;
  text-decoration: none;
  color: darkgreen;
}
#nav a:last-of-type{
  margin-left: auto;
}
#nav a:first-of-type{
  border-left: 0px transparent;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 54%);
}
#nav a:not(:first-of-type){
  margin-left: auto;
}
#nav a:hover{
  background:rgba(51, 51, 51,.4);
  transition: background-color 0.3s ease;
}
</style>